 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact- my Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head> -->

<%-  include("includes/header.ejs") %>
<body>
    <div class="container my-5">
        <h1>contact - me</h1>
        <p><b>Email:</b>  kumarsaurabh@43450.com</p>
        <p><b>Linkedin:</b>  Saurabh kumar panday</p>
        <p><b>Mob - no-</b> +91 7033198752</p>
    </div>

    <%-include("includes/footer.ejs") %>
</body>
</html>