<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home - My Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head> -->

<%-  include("includes/header.ejs") %>
<body>
    
         <div class="container text-center my -5">
            <h1>welcome to my Portfolio</h1>
            <p>this is a showcase of my project and skill.</p>
         </div>
         <%-include("includes/footer.ejs") %>
</body>
</html>